<?xml version="1.0" ?>
<!-- Collection of macros for creating a MoveIt PlanningScene from a URDF representation -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="planning_scene">
    <!-- TF stored in the urdf joint, used internally -->
    <xacro:macro name="_tf" params="name parent *origin">
        <joint name="${name}" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}" />
            <child link="${name}" />
        </joint>
    </xacro:macro>

    <!-- TF for building collision objects as urdf -->
    <!-- WARNING Looses meaning upon conversion -->
    <xacro:macro name="frame" params="name frame_id xyz:='0 0 0' rpy:='0 0 0'">
        <!-- Empty link necessary to differentiate from other collision objects -->
        <link name="${name}"/>

        <xacro:_tf name="${name}" parent="${frame_id}">
            <origin xyz="${xyz}" rpy="${rpy}"/>
        </xacro:_tf>
    </xacro:macro>

    <!-- Subframe acts like the 'frame' macro, except that the tf is stored in the subframe upon conversion -->
    <!-- WARNING Converts to a subframe only with MoveIt >= 1.0.1 -->
    <xacro:macro name="subframe" params="name subframe_name frame_id xyz:='0 0 0' rpy:='0 0 0' dl:=/">
        <!-- Empty link necessary to differentiate from other collision objects -->
        <!-- Delimiter in name to differentiate from the 'frame' macro -->
        <link name="${name}${dl}${subframe_name}"/>

        <xacro:_tf name="${name}${dl}${subframe_name}" parent="${frame_id}">
            <origin xyz="${xyz}" rpy="${rpy}"/>
        </xacro:_tf>
    </xacro:macro>

    <!-- Box collision object -->
    <xacro:macro name="collision_box" params="name frame_id dimensions xyz:='0 0 0' rpy:='0 0 0' scale:='1.0 1.0 1.0' default_subframes:=True">
        <!-- Collision object stored as a urdf link -->
        <link name="${name}">
            <!-- Box shape -->
            <collision>
                <geometry>
                    <box size="${dimensions}" />
                </geometry>
            </collision>
        </link>

        <!-- Collision object frame -->
        <xacro:_tf name="${name}" parent="${frame_id}">
            <origin xyz="${xyz}" rpy="${rpy}"/>
        </xacro:_tf>

        <!-- Add default subframes (front, back, left, right, top, down) -->
        <xacro:_bb_subframes name="${name}"
                             bbx="${float(dimensions.split()[0])/2}"
                             bby="${float(dimensions.split()[1])/2}"
                             bbz="${float(dimensions.split()[2])/2}"/>
    </xacro:macro>

    <!-- Cylinder collision object -->
    <xacro:macro name="collision_cylinder" params="name frame_id radius length xyz:='0 0 0' rpy:='0 0 0' scale:='1.0 1.0 1.0'">
        <link name="${name}">
            <collision>
                <geometry>
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>
            </collision>
        </link>

        <xacro:_tf name="${name}" parent="${frame_id}">
            <origin xyz="${xyz}" rpy="${rpy}"/>
        </xacro:_tf>

        <xacro:_bb_subframes name="${name}"
                             bbx="${float(dimensions.split()[0])/2}"
                             bby="${float(dimensions.split()[1])/2}"
                             bbz="${float(dimensions.split()[2])/2}"/>
    </xacro:macro>

    <!-- Sphere collision object -->
    <xacro:macro name="collision_sphere" params="name frame_id radius xyz:='0 0 0' rpy:='0 0 0' scale:='1.0 1.0 1.0'">
        <link name="${name}">
            <collision>
                <geometry>
                    <sphere radius="${radius}" />
                </geometry>
            </collision>
        </link>

        <xacro:_tf name="${name}" parent="${frame_id}">
            <origin xyz="${xyz}" rpy="${rpy}"/>
        </xacro:_tf>

        <xacro:_bb_subframes name="${name}"
                             bbx="${float(dimensions.split()[0])/2}"
                             bby="${float(dimensions.split()[1])/2}"
                             bbz="${float(dimensions.split()[2])/2}"/>
    </xacro:macro>

    <!-- Mesh collision object -->
    <xacro:macro name="collision_mesh" params="name frame_id resource metadata:='{}' xyz:='0 0 0' rpy:='0 0 0' scale:='1.0 1.0 1.0'">
        <link name="${name}">
            <collision>
                <geometry>
                    <mesh filename="${resource}" scale="${scale}" />
                </geometry>
            </collision>
        </link>

        <xacro:_tf name="${name}" parent="${frame_id}">
            <origin xyz="${xyz}" rpy="${rpy}"/>
        </xacro:_tf>

        <!-- Add bounding box subframes from metadata -->
        <xacro:if value="${'bb' in metadata}">
            <xacro:_bb_subframes name="${name}"
                                bbx="${float(metadata['bb'][0])/2}"
                                bby="${float(metadata['bb'][1])/2}"
                                bbz="${float(metadata['bb'][2])/2}"/>
        </xacro:if>

        <!-- Add subframes from metadata -->
        <xacro:if value="${'subframes' in metadata}">
            <xacro:loop name="${name}" keys="${list(metadata['subframes'].keys())}" values="${list(metadata['subframes'].values())}"/>
        </xacro:if>
    </xacro:macro>

    <!-- Default bounding box information as subframes, used internally -->
    <xacro:macro name="_bb_subframes" params="name bbx bby bbz">
        <xacro:subframe name="${name}"
                        subframe_name="bottom"
                        frame_id="${name}"
                        xyz="0 0 ${-float(bbz)}" />
        <xacro:subframe name="${name}"
                        subframe_name="top"
                        frame_id="${name}"
                        xyz="0 0 ${float(bbz)}" />
        <xacro:subframe name="${name}"
                        subframe_name="back"
                        frame_id="${name}"
                        xyz="${-float(bbx)} 0 0" />
        <xacro:subframe name="${name}"
                        subframe_name="front"
                        frame_id="${name}"
                        xyz="${float(bbx)} 0 0" />
        <xacro:subframe name="${name}"
                        subframe_name="left"
                        frame_id="${name}"
                        xyz="0 ${-float(bby)} 0" />
        <xacro:subframe name="${name}"
                        subframe_name="right"
                        frame_id="${name}"
                        xyz="0 ${float(bby)} 0" />
    </xacro:macro>

    <!-- Loop for adding custom subframes metadata -->
    <xacro:macro name="loop" params="name:=^ keys:=^ values:=^">
        <xacro:if value="${keys}">
            <!-- pop first item from list -->
            <xacro:property name="key" value="${keys.pop(0)}"/>
            <xacro:property name="val" value="${values.pop(0)}"/>

            <!-- extract pose -->
            <xacro:property name="xyz" value="0 0 0" />
            <xacro:property name="rpy" value="0 0 0" />

            <xacro:if value="${'xyz' in val}">
                 <xacro:property name="xyz" value="${val['xyz'][0]} ${val['xyz'][1]} ${val['xyz'][2]}"/>
            </xacro:if>
            <xacro:if value="${'rpy' in val}">
                 <xacro:property name="rpy" value="${val['rpy'][0]} ${val['rpy'][1]} ${val['rpy'][2]}"/>
            </xacro:if>

            <xacro:subframe name="${name}"
                            subframe_name="${key}"
                            frame_id="${name}"
                            xyz="${xyz}"
                            rpy="${rpy}"/>

            <!-- recursively call myself -->
            <xacro:loop/>
        </xacro:if>
    </xacro:macro>


</robot>
