<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <!-- Utility macros for creating collision objects as URDF -->

  <!-- Store tf information as a joint for the collision object -->
  <xacro:macro name="tf" params="name parent *origin">
    <joint name="${name}" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${name}" />
      <axis xyz="0 0 1" />
    </joint>
  </xacro:macro>

  <!-- Add dummy link with no collision -->
  <xacro:macro name="dummy" params="name frame_id xyz:='0 0 0' rpy:='0 0 0'">
    <link name="${name}"/>

    <xacro:tf name="${name}" parent="${frame_id}">
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </xacro:tf>
  </xacro:macro>

  <!-- Add subframes for mesh -->
  <xacro:macro name="loopmeshsubframes" params="current:=0 max:=^ node:=^ name:=^">
    <xacro:if value="${max > current}">
      <xacro:property name="xyz" value="0 0 0" />
      <xacro:property name="rpy" value="0 0 0" />

      <xacro:if value="${'xyz' in node[current]}">
        <xacro:property name="xyz" value="${node[current]['xyz'][0]} ${node[current]['xyz'][1]} ${node[current]['xyz'][2]}" />
      </xacro:if>>
      <xacro:if value="${'rpy' in node[current]}">
        <xacro:property name="rpy" value="${node[current]['rpy'][0]} ${node[current]['rpy'][1]} ${node[current]['rpy'][2]}" />
      </xacro:if>>

      <xacro:subframe name="${name}"
                      subframe="${node[current]['name']}"
                      frame_id="${name}"
                      xyz="${xyz}" rpy="${rpy}" />

      <xacro:loopmeshsubframes current="${current+1}"/>
    </xacro:if>
  </xacro:macro>

  <!-- Add mesh -->
  <xacro:macro name="framemesh" params="name frame_id resource xyz:='0 0 0' subframes:=false  rpy:='0 0 0' scale:='1.0 1.0 1.0'">
    <link name="${name}">
      <collision>
        <geometry>
          <mesh filename="${resource}" scale="${scale}" />
        </geometry>
      </collision>
    </link>
    <xacro:tf name="${name}" parent="${frame_id}">
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </xacro:tf>

    <xacro:if value="${subframes}">
      <xacro:loopmeshsubframes max="${len(subframes)}" node="${subframes}"/>
    </xacro:if>

  </xacro:macro>

  <!-- Add primitive box -->
  <xacro:macro name="framebox" params="name frame_id dimensions xyz:='0 0 0' rpy:='0 0 0'">
    <!-- Parent joint -->
    <xacro:tf name="${name}" parent="${frame_id}">
      <!-- Add fixed origin and include z dimension -->
      <origin xyz="${xyz.split()[0]} ${xyz.split()[1]} ${float(xyz.split()[2]) + float(dimensions.split()[2])}"/> 
    </xacro:tf>
    <!-- Child link -->
    <link name="${name}">
      <collision>
        <!-- Replace collision visualization because box origin is in the middle -->
        <origin xyz="0 0 ${-float(dimensions.split()[2])/2}" rpy="${rpy}"/>
        <geometry>
          <box size="${dimensions}" />
        </geometry>
      </collision>
    </link>

    <xacro:subframe name="${name}"
                    subframe="bottom"
                    frame_id="${name}"
                    xyz="0 0 ${-float(dimensions.split()[2])}" />

    <xacro:subframe name="${name}"
                    subframe="top"
                    frame_id="${name}"
                    xyz="0 0 ${float(dimensions.split()[2])}" />

    <xacro:subframe name="${name}"
                    subframe="back"
                    frame_id="${name}"
                    xyz="${-float(dimensions.split()[0])/2} 0 0" />

    <xacro:subframe name="${name}"
                    subframe="front"
                    frame_id="${name}"
                    xyz="${float(dimensions.split()[0])/2} 0 0" />

    <xacro:subframe name="${name}"
                    subframe="left"
                    frame_id="${name}"
                    xyz="0 ${-float(dimensions.split()[1])/2} 0" />

    <xacro:subframe name="${name}"
                    subframe="right"
                    frame_id="${name}"
                    xyz="0 ${float(dimensions.split()[1])/2} 0" />

  </xacro:macro>

  <!-- Add subframe -->
  <!-- Optional: frame_id defaults to name parameter if empty -->
  <xacro:macro name="subframe" params="name subframe frame_id:='' dl:=/ xyz:='0 0 0' rpy:='0 0 0'">
    <link name="${name}${dl}${subframe}"/>

    <xacro:if value="${len(frame_id) > 0}">
      <xacro:tf name="${name}${dl}${subframe}" parent="${frame_id}">
        <origin xyz="${xyz}" rpy="${rpy}"/>
      </xacro:tf>
    </xacro:if>
    <xacro:unless value="${len(frame_id) > 0}">
      <xacro:tf name="${name}${dl}${subframe}" parent="${name}">
        <origin xyz="${xyz}" rpy="${rpy}"/>
      </xacro:tf>
    </xacro:unless>
  </xacro:macro>
</robot>
