<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <!-- Utility macros for creating collision objects as URDF -->

  <!-- Store tf information as a joint for the collision object -->
  <xacro:macro name="object_joint_" params="name frame_id *origin">
    <joint name="${name}" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${frame_id}" />
      <child link="${name}" />
      <axis xyz="0 0 1" />
    </joint>
  </xacro:macro>

  <!-- Store collision type as a link for the collision object -->
  <xacro:macro name="object_link_" params="name frame_id *geometry">
    <link name="${name}">
      <collision>
        <geometry>
          <xacro:insert_block name="geometry" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>

  <!-- Add dummy link with no collision -->
  <xacro:macro name="dummy" params="name frame_id xyz:='0 0 0' rpy:='0 0 0'">
    <link name="${name}"/>
    
    <xacro:object_joint_ name="${name}" frame_id="${frame_id}">
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </xacro:object_joint_>>
  </xacro:macro>

  <!-- Add mesh -->
  <xacro:macro name="mesh" params="name frame_id resource xyz:='0 0 0' rpy:='0 0 0' scale:='1.0 1.0 1.0'">
    <xacro:object_link_ name="${name}" frame_id="${frame_id}">
        <mesh filename="${resource}" scale="${scale}" />
    </xacro:object_link_> 
    
    <xacro:object_joint_ name="${name}" frame_id="${frame_id}">
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </xacro:object_joint_>
  </xacro:macro>

  <!-- Add primitive box -->
  <xacro:macro name="box" params="name frame_id dimensions xyz:='0 0 0' rpy:='0 0 0'">
    <xacro:object_link_ name="${name}" frame_id="${frame_id}">
          <box size="${dimensions}" />
    </xacro:object_link_> 
    <xacro:object_joint_ name="${name}" frame_id="${frame_id}">
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </xacro:object_joint_>
  </xacro:macro>


  <!-- Add subframe -->
  <!-- Optional: frame_id defaults to name parameter if empty -->
  <xacro:macro name="subframe" params="name subframe frame_id:='' dl:=/ xyz:='0 0 0' rpy:='0 0 0'">
    <link name="${name}${dl}${subframe}"/>

    <xacro:if value="${len(frame_id) > 0}">
      <xacro:object_joint_ name="${name}${dl}${subframe}" frame_id="${frame_id}">
        <origin xyz="${xyz}" rpy="${rpy}"/>
      </xacro:object_joint_>
    </xacro:if>
    <xacro:unless value="${len(frame_id) > 0}">
      <xacro:object_joint_ name="${name}${dl}${subframe}" frame_id="${name}">
        <origin xyz="${xyz}" rpy="${rpy}"/>
      </xacro:object_joint_>
    </xacro:unless>
  </xacro:macro>

</robot>
