<launch>

  <!-- By default, we are not in debug mode -->
  <arg name="launch_prefix" default=""/>

  <!-- Load xacro robot -->
  <param name="scene_urdf" textfile="$(find moveit_resources_fanuc_description)/urdf/fanuc.urdf"/>

  <!-- Launch node -->
  <node name="load_urdf" pkg="scene_parser" type="load_urdf" output="screen" required="true" launch-prefix="$(arg launch_prefix)"/>

</launch>
