<launch>

  <!-- By default, we are not in debug mode -->
  <arg name="launch_prefix" default=""/>

  <!-- Load xacro scene -->
  <param name="scene_urdf" command="$(find xacro)/xacro '$(find urdf_to_scene)/config/scene.urdf.xacro'"/>

  <!-- Launch node -->
  <node name="load_urdf" pkg="urdf_to_scene" type="load_urdf" output="screen" required="true" launch-prefix="$(arg launch_prefix)"/>

</launch>
