<?xml version="1.0"?>
<launch>

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --args" />

  <!-- Load xacro robot -->
  <param name="scene_urdf" textfile="$(find moveit_resources_fanuc_description)/urdf/fanuc.urdf"/>

  <!-- Launch node -->
  <node name="load_urdf" pkg="urdf_to_scene" type="load_urdf" output="screen" required="true" launch-prefix="$(arg launch_prefix)"/>

</launch>
